<div
  class="layout-breadcrumb-container flex justify-content-between align-items-center shadow-1"
>
  <p-breadcrumb styleClass="layout-breadcrumb pl-4 py-2"></p-breadcrumb>
  <div class="layout-breadcrumb-buttons flex align-items-center pr-3">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-tags"
      label="{{ 'common.select_department' | translate }}"
      style="width: 150px"
      class="p-button-raised p-button-secondary p-button-text"
      (click)="selectDepartment()"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-power-off"
      class="p-button-rounded p-button-text p-button-plain mr-1"
      (click)="dashboard.logout()"
    ></button>
  </div>
</div>
