<app-form
  #form
  [title]="'table-detail.header' | translate"
  [icon]="icon"
  [obj]="obj"
  [postPath]="postPath"
  (refreshTable)="getRefreshTable()"
>
  <div form="header" *ngIf="obj.objectDto">
    <div class="p-formgrid grid">
      <div class="field col">
        <label for="h_name" class="required-field">{{
          form.getFieldName("firstName")
        }}</label
        ><br />
        <label>{{ obj.objectDto.firstName }}</label>
      </div>
      <div class="field col">
        <label for="h_description" class="required-field">{{
          form.getFieldName("lastName")
        }}</label
        ><br />
        <label>{{ obj.objectDto.lastName }}</label>
      </div>
    </div>
    <div class="p-formgrid grid">
      <div class="field col">
        <label for="h_description" class="required-field">{{
          form.getFieldName("userName")
        }}</label
        ><br />
        <label>{{ obj.objectDto.userName }}</label>
      </div>
      <div class="field col">
        <label for="h_description" class="required-field">{{
          form.getFieldName("phoneNumber")
        }}</label
        ><br />
        <label>{{ obj.objectDto.phoneNumber }}</label>
      </div>
    </div>
    <div class="field">
      <label for="h_userEmail" class="required-field">{{
        form.getFieldName("userEmail")
      }}</label
      ><br />
      <label>{{ obj.objectDto.userEmail }}</label>
    </div>
  </div>
  <div class="grid" form="body" *ngIf="obj.objectEditDto">
    <div class="col-12 p-fluid">
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="name" class="required-field">{{
            form.getFieldName("firstName")
          }}</label>
          <input
            pInputText
            type="text"
            [disabled]="!obj.editState"
            id="name"
            name="name"
            class="p-inputtext-sm form-control"
            [(ngModel)]="obj.objectEditDto.firstName"
          />
        </div>
        <div class="field col">
          <label for="name" class="required-field">{{
            form.getFieldName("lastName")
          }}</label>
          <input
            pInputText
            type="text"
            [disabled]="!obj.editState"
            id="name"
            name="name"
            class="p-inputtext-sm form-control"
            [(ngModel)]="obj.objectEditDto.lastName"
          />
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="name" class="required-field">{{
            form.getFieldName("userName")
          }}</label>
          <input
            pInputText
            type="text"
            [disabled]="!obj.editState"
            id="name"
            name="name"
            class="p-inputtext-sm form-control"
            [(ngModel)]="obj.objectEditDto.userName"
          />
        </div>
        <div class="field col">
          <label for="name" class="required-field">{{
            form.getFieldName("phoneNumber")
          }}</label>
          <input
            pInputText
            type="text"
            [disabled]="!obj.editState"
            id="name"
            name="name"
            class="p-inputtext-sm form-control"
            [(ngModel)]="obj.objectEditDto.phoneNumber"
          />
        </div>
      </div>
      <div class="field">
        <label for="name" class="required-field">{{
          form.getFieldName("userEmail")
        }}</label>
        <input
          pInputText
          type="text"
          [disabled]="!obj.editState"
          id="name"
          name="name"
          class="p-inputtext-sm form-control"
          [(ngModel)]="obj.objectEditDto.userEmail"
        />
      </div>
      <!-- <ng-template
        [ngTemplateOutlet]="fieldInputText"
        [ngTemplateOutletContext]="{field:'phoneNumber', model:obj.objectEditDto, state:obj.editState}">
    </ng-template> -->
    </div>
  </div>
</app-form>

<!--
<ng-template #fieldInputDate
  let-field="field"
  let-model="model"
  let-require="require"
  let-state="state">
  <div class="form-group">
    <label [for]="field" [ngClass]="{'required-field':require===true}">{{ form.getFieldName(field) }}</label>
    <input
      pInputText
      type='date'
      [disabled]="!state"
      [value]="true"
      id={{field}}
      name={{field}}
      class="p-inputtext-sm form-control"
      [(ngModel)]= "model[field]"
    />
  </div>
</ng-template>

<ng-template #fieldInputCheckbox
  let-field="field"
  let-model="model"
  let-require="require"
  let-state="state">
  <div class="form-group">
    <label [for]="field">{{ form.getFieldName(field) }}</label>
    <p-checkbox
      [(ngModel)]="model[field]"
      [disabled]="!state"
      [binary]="true"
      name={{field}}>
    </p-checkbox>
  </div>
</ng-template>

<ng-template #fieldInputText
let-field="field"
let-model="model"
let-require="require"
let-state="state">
<div class="form-group">
  <label  [for]="field" [ngClass]="{'required-field':require===true}">{{ form.getFieldName(field) }}</label>
  <input
    pInputText
    type='text'
    [disabled]="!state"
    id={{field}}
    name={{field}}
    class="p-inputtext-sm form-control"
    [(ngModel)]= "model[field]"
  />
</div>
</ng-template> -->
