<app-form
  #form
  [title]="'table-detail.header' | translate"
  [icon]="icon"
  [obj]="obj"
  [cols]="cols"
  [postPath]="postPath"
  (refreshTable)="getRefreshTable()"
>
  <div class="grid" form="header" *ngIf="obj.objectDto">
    <div class="col-12">
      <div class="p-fluid">
        <div class="field">
          <label for="h_name">{{ form.getFieldName("firstName") }}</label>
          <input
            pInputText
            type="text"
            name="h_name"
            [(ngModel)]="obj.objectDto.firstName"
            class="p-inputtext-sm form-control"
            [readOnly]="true"
          />
        </div>
        <div class="field">
          <label for="h_description">{{ form.getFieldName("lastName") }}</label>
          <input
            pInputText
            type="text"
            name="h_description"
            [(ngModel)]="obj.objectDto.lastName"
            class="p-inputtext-sm form-control"
            [readOnly]="true"
          />
        </div>
        <div class="field">
          <label for="h_description">{{ form.getFieldName("userName") }}</label>
          <input
            pInputText
            type="text"
            name="h_description"
            [(ngModel)]="obj.objectDto.userName"
            class="p-inputtext-sm form-control"
            [readOnly]="true"
          />
        </div>
        <div class="field">
          <label for="h_description">{{
            form.getFieldName("userEmail")
          }}</label>
          <input
            pInputText
            type="text"
            name="h_description"
            [(ngModel)]="obj.objectDto.userEmail"
            class="p-inputtext-sm form-control"
            [readOnly]="true"
          />
        </div>
        <div class="field">
          <label for="h_description">{{
            form.getFieldName("phoneNumber")
          }}</label>
          <input
            pInputText
            type="text"
            name="h_description"
            [(ngModel)]="obj.objectDto.phoneNumber"
            class="p-inputtext-sm form-control"
            [readOnly]="true"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="grid" form="body" *ngIf="obj.objectEditDto">
    <div class="col-12 p-fluid">
      <div class="field">
        <label for="name" class="required-field">{{
          form.getFieldName("firstName")
        }}</label>
        <input
          pInputText
          type="text"
          [readOnly]="!obj.editState"
          id="name"
          name="name"
          class="p-inputtext-sm form-control"
          [(ngModel)]="obj.objectEditDto.firstName"
        />
      </div>
      <div class="field">
        <label for="name" class="required-field">{{
          form.getFieldName("lastName")
        }}</label>
        <input
          pInputText
          type="text"
          [readOnly]="!obj.editState"
          id="name"
          name="name"
          class="p-inputtext-sm form-control"
          [(ngModel)]="obj.objectEditDto.lastName"
        />
      </div>
      <div class="field">
        <label for="name">{{ form.getFieldName("evaluationDate") }}</label>
        <input
          pInputText
          type="date"
          [readOnly]="!obj.editState"
          id="name"
          name="name"
          class="p-inputtext-sm form-control"
          [(ngModel)]="obj.objectEditDto.evaluationDate"
        />
      </div>
      <div class="field">
        <label for="name" class="required-field">{{
          form.getFieldName("isAdmin")
        }}</label>
        <p-checkbox
          [(ngModel)]="obj.objectEditDto.isAdmin"
          [disabled]="!obj.editState"
          [binary]="true"
          name="isAdmin"
        >
        </p-checkbox>
      </div>

      <div class="field">
        <label for="name" class="required-field">{{
          form.getFieldName("userName")
        }}</label>
        <input
          pInputText
          type="text"
          [readOnly]="!obj.editState"
          id="name"
          name="name"
          class="p-inputtext-sm form-control"
          [(ngModel)]="obj.objectEditDto.userName"
        />
      </div>
      <div class="field">
        <label for="name" class="required-field">{{
          form.getFieldName("userEmail")
        }}</label>
        <input
          pInputText
          type="text"
          [readOnly]="!obj.editState"
          id="name"
          name="name"
          class="p-inputtext-sm form-control"
          [(ngModel)]="obj.objectEditDto.userEmail"
        />
      </div>
      <div class="field">
        <label for="name" class="required-field">{{
          form.getFieldName("phoneNumber")
        }}</label>
        <input
          pInputText
          type="text"
          [readOnly]="!obj.editState"
          id="name"
          name="name"
          class="p-inputtext-sm form-control"
          [(ngModel)]="obj.objectEditDto.phoneNumber"
        />
      </div>
      <!-- <ng-template
        [ngTemplateOutlet]="fieldInputText"
        [ngTemplateOutletContext]="{field:'phoneNumber', model:obj.objectEditDto, state:obj.editState}">
    </ng-template> -->
    </div>
  </div>
</app-form>

<!--
<ng-template #fieldInputDate
  let-field="field"
  let-model="model"
  let-require="require"
  let-state="state">
  <div class="form-group">
    <label [for]="field" [ngClass]="{'required-field':require===true}">{{ form.getFieldName(field) }}</label>
    <input
      pInputText
      type='date'
      [disabled]="!state"
      [value]="true"
      id={{field}}
      name={{field}}
      class="p-inputtext-sm form-control"
      [(ngModel)]= "model[field]"
    />
  </div>
</ng-template>

<ng-template #fieldInputCheckbox
  let-field="field"
  let-model="model"
  let-require="require"
  let-state="state">
  <div class="form-group">
    <label [for]="field">{{ form.getFieldName(field) }}</label>
    <p-checkbox
      [(ngModel)]="model[field]"
      [disabled]="!state"
      [binary]="true"
      name={{field}}>
    </p-checkbox>
  </div>
</ng-template>

<ng-template #fieldInputText
let-field="field"
let-model="model"
let-require="require"
let-state="state">
<div class="form-group">
  <label  [for]="field" [ngClass]="{'required-field':require===true}">{{ form.getFieldName(field) }}</label>
  <input
    pInputText
    type='text'
    [disabled]="!state"
    id={{field}}
    name={{field}}
    class="p-inputtext-sm form-control"
    [(ngModel)]= "model[field]"
  />
</div>
</ng-template> -->
