<div
  [ngClass]="{
    'layout-inline-menu': true,
    'layout-inline-menu-active': dashboard.inlineMenuActive[key]
  }"
  [ngStyle]="style"
  [class]="styleClass"
  [style.minWidth]="dashboard.isHorizontal() ? '165px' : 0"
>
  <a
    class="layout-inline-menu-action flex flex-row align-items-center"
    [ngClass]="dashboard.isHorizontal() ? 'p-3 py-3' : 'p-3'"
    (click)="onClick($event)"
    pTooltip="Amy Elsner"
    [tooltipDisabled]="isTooltipDisabled"
  >
    <span
      class="flex flex-column"
      [ngClass]="{ 'ml-2': !app.isRTL, 'mr-2': app.isRTL }"
    >
      <span class="font-bold"
        ><i class="pi pi-heart-fill"></i
        ><strong> {{ "common.popular" | translate }}</strong></span
      >
    </span>
    <em
      class="layout-inline-menu-icon pi pi-angle-down"
      [ngClass]="{ 'ml-auto': !app.isRTL, 'mr-auto': app.isRTL }"
    ></em>
  </a>

  <ul
    class="layout-inline-menu-action-panel"
    [@menu]="
      dashboard.inlineMenuActive[key]
        ? isHorizontalActive()
          ? 'visible'
          : 'visibleAnimated'
        : isHorizontalActive()
        ? 'hidden'
        : 'hiddenAnimated'
    "
  >
    <li
      class="layout-inline-menu-action-item"
      pTooltip="Settings"
      [tooltipDisabled]="isTooltipDisabled"
    >
      <a class="flex flex-row align-items-center" [attr.tabindex]="tabIndex">
        <em class="pi pi-cog pi-fw"></em>
        <span>Settings</span>
      </a>
    </li>
  </ul>
</div>
