<h2 class="text-center p-3">Moduły dostepne w aplikacji</h2>
<p-organizationChart [value]="menuTree" styleClass="company">
  <ng-template let-node pTemplate="default">
    <span style="font-weight: bold;">{{node.label | translate}}</span>
    <a [routerLink]="[node.key]">Otwórz okno</a>
  </ng-template>
  <ng-template let-node pTemplate="leaf">
    <span>{{node.label | translate}}</span><br>
    <span style="font-size: 9px; text-decoration: none;"><a *ngIf="node.key"  [routerLink]="[node.key]">Otwórz okno</a></span>
  </ng-template>
</p-organizationChart>
