<app-form
  #form
  [title]="'table-detail.header' | translate"
  [icon]="icon"
  [obj]="obj"
  [cols]="cols"
  [postPath]="postPath"
  (refreshTable)="getRefreshTable()"
>
  <div class="grid" form="header" *ngIf="obj.objectDto">
    <div class="col-12 p-fluid">
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="h_name">{{ form.getFieldName("name") }}</label>
          <input
            pInputText
            type="text"
            name="h_name"
            [(ngModel)]="obj.objectDto.name"
            class="p-inputtext-sm form-control"
            [readOnly]="true"
          />
        </div>
        <div class="field col">
          <label for="h_description">{{
            form.getFieldName("description")
          }}</label>
          <input
            pInputText
            type="text"
            name="h_description"
            [(ngModel)]="obj.objectDto.description"
            class="p-inputtext-sm form-control"
            [readOnly]="true"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="grid" form="body" *ngIf="obj.objectEditDto">
    <div class="col-12 p-fluid">
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="name" class="required-field">{{
            form.getFieldName("name")
          }}</label>
          <input
            pInputText
            type="text"
            [readOnly]="!obj.editState"
            id="name"
            name="name"
            class="p-inputtext-sm form-control"
            [(ngModel)]="obj.objectEditDto.name"
          />
        </div>
        <div class="field col">
          <label for="description" class="required-field">{{
            form.getFieldName("description")
          }}</label>
          <input
            pInputText
            type="text"
            [readOnly]="!obj.editState"
            id="description"
            name="description"
            class="p-inputtext-sm form-control"
            [(ngModel)]="obj.objectEditDto.description"
          />
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <p-button
            (click)="dashboard.openTab('EstimateTypeComponent')"
            styleClass="p-button-link required-field text-left"
            >{{ form.getFieldName("estimateTypeId") }}</p-button
          >
          <p-dropdown
            [placeholder]="'dict.select_value' | translate"
            [options]="estimateTypeDict"
            [readonly]="!obj.editState"
            [style]="{ width: '100%' }"
            [filter]="true"
            [(ngModel)]="obj.objectEditDto.estimateTypeId"
            appendTo="body"
            optionLabel="name"
            optionValue="id"
          ></p-dropdown>
        </div>
        <div class="field col">
          <label styleClass="p-button-link required-field text-left">{{
            form.getFieldName("wasteCodeProductTradeNameId")
          }}</label>
          <p-dropdown
            [placeholder]="'dict.select_value' | translate"
            [options]="wasteCodeDict"
            [readonly]="!obj.editState"
            [style]="{ width: '100%' }"
            [filter]="true"
            [(ngModel)]="obj.objectEditDto.wasteCodeProductTradeNameId"
            appendTo="body"
            optionLabel="name"
            optionValue="id"
          ></p-dropdown>
        </div>
      </div>
    </div>
  </div>
</app-form>
