<p-splitter [panelSizes]="[70, 30]">
  <ng-template pTemplate>
    <div style="width: 100%">
      <app-table-button [buttonList]="buttons" [icon]="'pi-bookmark-fill'">
      </app-table-button>
      <div class="row">
        <app-table
          [gridId]="gridId"
          [tableDisabled]="obj.editState"
          [canMultiselect]="multiselect"
          [model]="model"
          (selectedObj)="getSelected($event)"
        >
        </app-table>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <p-tabView [ngStyle]="{ width: '100%' }">
      <app-product-trade-name-form
        [icon]="'pi-bookmark-fill'"
        [obj]="obj"
        [postPath]="postPath"
        [putPath]="putPath"
        [gridId]="gridId"
        (refreshTable)="refreshTable()"
      >
      </app-product-trade-name-form>
    </p-tabView>
  </ng-template>
</p-splitter>
