<p-contextMenu #cm [model]="tableOptions"></p-contextMenu>
<p-table
  #dt1
  [value]="dataValues"
  [totalRecords]="totalRecords"
  [paginator]="true"
  [rows]="pageSize"
  [showCurrentPageReport]="true"
  [lazy]="true"
  [columns]="columns"
  [rowsPerPageOptions]="[10, 25, 50, 100, 500, totalItems]"
  [loading]="dataLoading"
  [showPageLinks]="true"
  [globalFilterFields]="columnFilter"
  [resizableColumns]="true"
  [scrollable]="true"
  [scrollHeight]="'60vh'"
  (onLazyLoad)="loadData($event)"
  (onRowSelect)="selectObj(dt1.selection)"
  (onRowUnselect)="unselectObj()"
  [selectionMode]="multiselectRows === false ? 'single' : 'multiple'"
  [breakpoint]="'960px'"
  [(selection)]="selectedRows"
  [tableStyle]="{ 'min-width': '100%' }"
  dataKey="id"
  currentPageReportTemplate="{first} - {last} / {{ totalRecords }}"
  styleClass="p-datatable-sm p-datatable-gridlines ui-datatable-scrollable-body "
  responsiveLayout="stack"
>
  <ng-template pTemplate="caption">
    <div class="flex">
      <div class="col-12 lg:col-6">
        <p-splitButton
          icon="pi pi-file-excel"
          [model]="tableOptions"
          styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2"
        ></p-splitButton>
      </div>
      <div class="col-12 lg:col-6 text-right">
        <p-splitButton
          icon="pi pi-microsoft"
          [model]="columnOptions"
          styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2"
        ></p-splitButton>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngIf="multiselectRows" style="width: 1px">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th
        *ngFor="let col of columns"
        pSortableColumn="{{ col.columnName }}"
        id="th-{{ col.columnName }}"
      >
        <strong>{{ col.displayName }}</strong>
        <p-sortIcon field="{{ col.columnName }}"></p-sortIcon>
        <p-columnFilter
          type="{{ col.dataType }}"
          field="{{ col.columnName }}"
          display="menu"
        ></p-columnFilter>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData" [pSelectableRowDisabled]="tableDisabled">
      <td *ngIf="multiselectRows">
        <p-tableCheckbox
          [value]="rowData"
          [disabled]="!multiselectRows"
        ></p-tableCheckbox>
      </td>
      <td *ngFor="let row of columns">
        <div [ngSwitch]="row.dataType">
          <span *ngSwitchCase="'date'" class="p-column-title">{{
            rowData[row.columnName] | date: "yyyy/MM/dd"
          }}</span>
          <span *ngSwitchCase="'DateTime'" class="p-column-title">{{
            rowData[row.columnName] | date: "yyyy/MM/dd"
          }}</span>
          <span *ngSwitchCase="'boolean'" class="p-column-title">
            <i
              class="pi"
              [ngClass]="{
                'true-icon pi-check-circle': rowData[row.columnName],
                'false-icon pi-times-circle': !rowData[row.columnName]
              }"
            ></i>
          </span>
          <span class="p-column-title" *ngSwitchDefault>{{
            rowData[row.columnName]
          }}</span>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer" let-columns>
    <p *ngIf="selectedRows && selectedRows.length > 0">
      {{ "table-menu.selected_rows" | translate }} {{ selectedRows.length }}
    </p>
    <table *ngIf="summary">
      <tr>
        <td
          *ngIf="multiselectRows"
          style="width: 200px; border: 1px solid #cccccc"
        ></td>
        <td
          *ngFor="let sum of summaryValues"
          class=".p-datatable.p-datatable-sm .p-datatable-tbody"
          style="width: 200px; border: 1px solid #cccccc"
        >
          <span>{{ sum }}</span>
        </td>
      </tr>
    </table>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">{{ "common.empty_data" | translate }}</td>
    </tr>
  </ng-template>
</p-table>
