<p-splitter [panelSizes]="[40, 60]">
  <ng-template pTemplate>
    <div class="grid">
      <div class="col-12">
        <div class="card">
          <h5>{{ "pages.tree.title" | translate }}</h5>
          <p-megaMenu [model]="treeActions"></p-megaMenu>
          <p-tree
            [contextMenu]="treeMenuContext"
            [filter]="true"
            [value]="values"
            [loading]="loading"
            [selectionMode]="selectionMode"
            (onNodeExpand)="loadChildren($event)"
            [draggableNodes]="true"
            [droppableNodes]="true"
            [validateDrop]="true"
            (onNodeDrop)="onDrop($event)"
            draggableScope="self"
            droppableScope="self"
            scrollHeight="700px"
          ></p-tree>
          <p-contextMenu
            #treeMenuContext
            [model]="treeContextActions"
          ></p-contextMenu>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <p-tabView [ngStyle]="{ width: '100%' }">
      <p-tabPanel [header]="'common.basic_data' | translate"> </p-tabPanel>
      <p-tabPanel [header]="'pages.tree.dynamic_tab' | translate"> </p-tabPanel>
    </p-tabView>
  </ng-template>
</p-splitter>
