<div class="grid">
  <div class="col-12">
    <p-pickList
      [source]="availableColumns"
      [sourceHeader]="'table-menu.available_columns' | translate"
      [target]="selectedColumns"
      [targetHeader]="'table-menu.selected_columns' | translate"
      [dragdrop]="true"
      [responsive]="true"
      [sourceStyle]="{ height: '30rem' }"
      [targetStyle]="{ height: '30rem' }"
      filterBy="displayName"
    >
      <ng-template let-col pTemplate="item">
        <div class="product-item">
          <div class="product-list-detail">
            <h5 class="mb-2">{{ col.displayName }}</h5>
            <i class="pi pi-tag product-category-icon"></i>
            <span class="product-category">{{ col.columnName }}</span>
          </div>
          <div class="product-list-action">
            <span>{{ col.columnType }}</span>
          </div>
        </div>
      </ng-template>
    </p-pickList>
    <div class="grid p-formgrid" style="padding-top: 5px">
      <div class="col-6 text-left">
        <button pButton class="p-button-outlined" (click)="cancel()">
          {{ "btn.cancel" | translate }}
        </button>
      </div>
      <div class="col-6 text-right">
        <button
          [disabled]="selectedColumns.length === 0"
          pButton
          (click)="save()"
        >
          {{ "table-menu.setting.save_grid" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
