<div style="height: 100%; background-color: white">
  <div
    class="col-md-12 text-end"
    style="padding-right: 50px; padding-top: 20px"
  >
    <p-dropdown
      [(ngModel)]="selectedTemplate"
      [options]="templateList"
      optionLabel="label"
      [placeholder]="'common.select_template' | translate"
    >
      <ng-template pTemplate="option" let-option>
        <div class="text-start">
          <span>
            <em [ngClass]="option.icon"></em>&nbsp; {{ option.label }}
          </span>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div [ngSwitch]="selectedTemplate.id">
    <app-modules *ngSwitchCase="'modules'"></app-modules>
    <app-charts *ngSwitchCase="'charts'"></app-charts>
  </div>
</div>
