<div class="card">
  <p-toolbar >
    <ng-template pTemplate="left">
      <button pButton label="Dodaj" icon="pi pi-plus" class="p-button-raised p-button-secondary p-button-text p-button-sm" ></button>
      <button pButton label="Usuń" icon="pi pi-minus" class="p-button-raised p-button-secondary p-button-text p-button-sm" ></button>
      <button pButton label="Edytuj" icon="pi pi-pencil" class="p-button-raised p-button-secondary p-button-text p-button-sm" ></button>
    </ng-template>
    <ng-template pTemplate="right">
      <span class="p-input-icon-left" style="padding-right: 10px;">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [placeholder]="'common.search' | translate">
      </span>
      <p-splitButton icon="pi pi-folder" styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2" [model]="tableSettingItems"></p-splitButton>
    </ng-template>
</p-toolbar>
  <p-table #dt1
  [value]="dataValues"
  [rows]="pageSize"
  [totalRecords]="totalPages"
  [lazy]="true"
  [columns]="cols"
  [rowsPerPageOptions]="[10,25,50,100,500]"
  [loading]="dataLoading"
  [paginator]="true"
  [showPageLinks]="true"
  [showCurrentPageReport]="true"
  (onLazyLoad)="loadData($event)"
  [globalFilterFields]="columnFilter"
  [resizableColumns]="true"
  (onRowSelect)="selectObj($event)"
  selectionMode="single"
  currentPageReportTemplate="{first} - {last} / {{totalItems}}"
  styleClass="p-datatable-gridlines"
  responsiveLayout="scroll">

  <!-- <ng-template pTemplate="header" let-columns>
  <tr>
    <th *ngFor="let col of columns" pSortableColumn="{{col.columnName}}">{{col.displayName}}
      <p-sortIcon field="{{col.columnName}}"></p-sortIcon>
      <p-columnFilter type="{{col.dataType}}" field="{{col.columnName}}" display="menu" ></p-columnFilter>
    </th>
  </tr>
  </ng-template> -->
      <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr  [pSelectableRow]="rowData">
              <td *ngFor="let row of columns" >
                <div [ngSwitch]="row.dataType">
                  <span *ngSwitchCase="'date'">{{rowData[row.columnName] | date:"yyyy/MM/dd"}}</span>
                  <span *ngSwitchCase="'boolean'">
                      <i class="pi" [ngClass]="{'true-icon pi-check-circle': rowData[row.columnName], 'false-icon pi-times-circle': !rowData[row.columnName]}"></i>
                    </span>
                  <span *ngSwitchDefault>{{rowData[row.columnName]}}</span>
                </div>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="6">{{ "common.empty_data" | translate}}</td>
          </tr>
      </ng-template>
  </p-table>
</div>
