.full-width {
  width: 100%;
}


p {
  font-family: Lato;
}

.border {
  border:1px solid #ccc;
  margin: 1rem 0;
  padding: 0.25rem;
  cursor: pointer;
}

.drop {
  border: 1px dashed #ccc;
  padding: 1rem;
}
