
			<!-- <p-toolbar >
      <ng-template pTemplate="left">
        <button pButton label="Dodaj" icon="pi pi-plus" class="p-button-text" ></button>
        <button pButton label="Usuń" icon="pi pi-minus" class="p-button-text" ></button>
        <button pButton label="Edytuj" icon="pi pi-pencil" class="p-button-text" ></button>
      </ng-template>
      <ng-template pTemplate="right">

      </ng-template>
    </p-toolbar> -->
    <app-table [dataTable]="dataObj" [title]="'pages.users.title' | translate" [height]="800"  [columns]="columnsOutput" (newRequestParam)="onNewRequestParam($event)"></app-table> -->





