<div>
  <p-splitter [panelSizes]="[70, 30]">
    <ng-template pTemplate>
      <div style="width: 100%">
        <app-table-button
          [buttonList]="buttons"
          [icon]="icon"
          (refreshTable)="refreshTable()"
        ></app-table-button>
        <div class="row">
          <app-table
            [gridId]="gridId"
            [tableDisabled]="obj.editState"
            [canMultiselect]="multiselect"
            [model]="model"
            (selectedObj)="getSelected($event)"
          >
          </app-table>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate>
      <p-tabView [ngStyle]="{ width: '100%' }">
        <p-tabPanel [header]="'common.selected_entity' | translate" #userForm>
          <app-user-form
            [icon]="icon"
            [obj]="obj"
            [postPath]="postPath"
            [putPath]="putPath"
            [gridId]="gridId"
            (refreshTable)="refreshTable()"
          >
          </app-user-form>
        </p-tabPanel>
        <p-tabPanel [header]="'pages.users.groups' | translate" #userGroup>
          <app-user-group
            *ngIf="userGroup.selected"
            [masterId]="selectedId"
          ></app-user-group>
        </p-tabPanel>
        <p-tabPanel [header]="'pages.users.params' | translate" #userParam>
          <app-user-param
            *ngIf="userParam.selected"
            [masterId]="selectedId"
          ></app-user-param>
        </p-tabPanel>
        <p-tabPanel
          [header]="'pages.users.departments' | translate"
          #userDepartment
        >
          <app-user-department
            *ngIf="userDepartment.selected"
            [masterId]="selectedId"
          ></app-user-department>
        </p-tabPanel>
      </p-tabView>
    </ng-template>
  </p-splitter>
</div>
