<p-menubar [model]="buttonList">
  <ng-template pTemplate="start">
    <em class="pi {{ icon }}" style="font-size: 1.3rem"></em>
  </ng-template>
  <ng-template pTemplate="end">
    <!-- <span class="p-input-icon-left" style="padding-right: 10px;">
      <i class="pi pi-search"></i>
      <input type="text" class="p-inputtext-sm" pInputText [placeholder]="'common.search' | translate">
    </span> -->
    <p-splitButton
      icon="pi pi-folder"
      [model]="setting"
      styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2"
    ></p-splitButton>
  </ng-template>
</p-menubar>
