<div class="container" style="height: 100vh; width: 40vh;">
  <div class="row h-100" >
    <div class="col-md-12" style="padding-top: 50%;">
      <div class="text-center">
        <img src="./assets/images/logo.png" width="55">
      </div>
      <form (ngSubmit)="login()">
        <p-panel header="NES 2.0 - witamy w nowej rzeczywistości!">
          <div class="mb-3 text-center">
            <span class="p-input-icon-left">
              <i class="pi pi-user"></i>
              <input type="text" placeholder="Nazwa użytkownika"  name="userName" [(ngModel)]="loginObj.userName"  pInputText >
            </span>
          </div>
          <div class="mb-3 text-center">
            <span class="p-input-icon-left">
              <i class="pi pi-lock"></i>
              <input type="password" placeholder="Hasło" name="password" [(ngModel)]="loginObj.password"  pInputText  >
            </span>
          </div>
          <div class="mb-3 text-center">
            <button type="submit" pButton >Zaloguj</button>
          </div>
          <div class="row">
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="loading"></p-progressBar>
            <div class="alert alert-danger" *ngIf="errorText" >
              {{errorText}}
            </div>
          </div>
        </p-panel>
      </form>
    </div>
  </div>
</div>


<!-- <div class="login_module">
<form (ngSubmit)="login()">
  <p-panel header="Logowanie do nowego NESA :)">
    <span class="p-input-icon-left">
      <i class="pi pi-user"></i>
      <input type="text" placeholder="Nazwa użytkownika"  name="userName" [(ngModel)]="loginObj.userName"  pInputText >
    </span><br>
  <span class="p-input-icon-left">
    <i class="pi pi-lock"></i>
    <input type="password" placeholder="Hasło" name="password" [(ngModel)]="loginObj.password"  pInputText  >
</span>
<span class="p-input-icon-left">
  <button type="submit" pButton >Zaloguj</button>
</span>

  </p-panel>
</form>
</div> -->
