<h2 class="text-center p-3">Wykresy i podsumowania</h2>
<div class="row">
  <div class="col-md-4" >
    <p-chart type="pie" [data]="data" height="25vh" ></p-chart>
  </div>
  <div class="col-md-4">
    <p-chart type="pie" [data]="data" height="25vh" ></p-chart>
  </div>
  <div class="col-md-4">
    <p-chart type="pie" [data]="data" height="25vh" ></p-chart>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p-chart type="line" [data]="data" height="30vh"></p-chart>
  </div>
  <div class="col-md-6">
    <p-chart type="bar" [data]="data" height="30vh"></p-chart>
  </div>
</div>

