<div class="grid dashboard">
  <div class="col-12 lg:col-6">
    <app-diagram-orders></app-diagram-orders>
  </div>

  <div class="col-12 lg:col-6">
    <div class="card height-100">
      <app-diagram-percentage></app-diagram-percentage>
    </div>
  </div>

  <div class="col-12 lg:col-6">
    <div class="card height-100 widget-timeline">
      <div class="card-header">
        <h5>{{ "pages.main_summary.orders_today" | translate }}</h5>
      </div>
      <app-table></app-table>
    </div>
  </div>

  <div class="col-12 lg:col-6">
    <div class="card height-100 widget-timeline">
      <div class="card-header">
        <h5>{{ "pages.main_summary.product_under_state" | translate }}</h5>
      </div>
      <app-table></app-table>
    </div>
  </div>
</div>
