<div class="grid dashboard">
  <div class="col-12 lg:col-6">
    <app-diagram-orders></app-diagram-orders>
  </div>

  <div class="col-12 lg:col-6">
    <div class="card height-100">
      <app-diagram-percentage></app-diagram-percentage>
    </div>
  </div>

  <div class="col-12 lg:col-6">
    <div class="card height-100 widget-timeline">
      <app-today-orders></app-today-orders>
    </div>
  </div>

  <div class="col-12 lg:col-6">
    <div class="card height-100 widget-timeline">
      <app-products-under-minimal-state></app-products-under-minimal-state>
    </div>
  </div>
</div>
