<ng-container>
  <div *ngIf="root && item.visible !== false">
    <span class="layout-menuitem-text">{{ item.label }}</span>
  </div>
  <a
    [attr.href]="item.url"
    (click)="itemClick($event)"
    *ngIf="(!item.routerLink || item.children) && item.visible !== false"
    (keydown.enter)="itemClick($event)"
    [attr.target]="item.target"
    [attr.tabindex]="0"
    [ngClass]="item.class"
    (mouseenter)="onMouseEnter()"
    pRipple
    [pTooltip]="item.label"
    [tooltipDisabled]="
      active || !(root && dashboard.isSlim() && !dashboard.isMobile())
    "
  >
    <em [ngClass]="item.icon" class="layout-menuitem-icon"></em>
    <span class="layout-menuitem-text">{{ item.label }}</span>
    <span
      class="p-badge p-component p-badge-no-gutter"
      [ngClass]="item.badgeClass"
      *ngIf="item.badge && !root"
      >{{ item.badge }}</span
    >
    <em
      class="pi pi-fw pi-angle-down layout-submenu-toggler"
      *ngIf="item.children"
    ></em>
  </a>
  <a
    (click)="itemClick($event)"
    *ngIf="item.routerLink && !item.children && item.visible !== false"
    [routerLink]="item.routerLink"
    routerLinkActive="active-menuitem-routerlink"
    [routerLinkActiveOptions]="{ exact: !item.preventExact }"
    [attr.target]="item.target"
    [attr.tabindex]="0"
    [ngClass]="item.class"
    (mouseenter)="onMouseEnter()"
    pRipple
    [pTooltip]="item.label"
    [tooltipDisabled]="
      active || !(root && dashboard.isSlim() && !dashboard.isMobile())
    "
  >
    <em [ngClass]="item.icon" class="layout-menuitem-icon"></em>
    <span class="layout-menuitem-text">{{ item.label }}</span>
    <span
      class="p-badge p-component p-badge-no-gutter"
      [ngClass]="item.badgeClass"
      *ngIf="item.badge && !root"
      >{{ item.badge }}</span
    >
    <em
      class="pi pi-fw pi-angle-down layout-submenu-toggler"
      *ngIf="item.children"
    ></em>
  </a>
  <ul
    *ngIf="
      ((item.children && root) || (item.children && active)) &&
      item.visible !== false
    "
    [@children]="
      root ? 'visible' : active ? 'visibleAnimated' : 'hiddenAnimated'
    "
  >
    <ng-template ngFor let-child let-i="index" [ngForOf]="item.children">
      <li
        app-menuitem
        [item]="child"
        [index]="i"
        [parentKey]="key"
        [class]="child.badgeClass"
      ></li>
    </ng-template>
  </ul>
</ng-container>
